header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 50px;
    box-shadow: 1px 1px 10px 1px black;
}

header p {
    font-size: 20px;
    margin-top: 15px;
    color: white;
}

header input {
    cursor: pointer;
    border: white solid 2px;
    background-color: black;
    color: white;
    margin-bottom: 5px;
    font-weight: bolder;
}

header input:hover {
    color: black;
    background-color: white;
    font-weight: bolder;
}