#form {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    margin: 50px auto 0px;
    width: 40%;
    height: 400px;
    background-color:  white;
    border-radius: 2px;
    padding: 10px;
}

#button {
    cursor: pointer;
    border: black solid 2px;
    margin-bottom: 5px;
    background-color: white;
}

#button:hover {
    color: white;
    background-color: black;
}

#nameLabel {
    display: flex;
    flex-flow: column wrap;
}

#buttons {
    display: flex;
    flex-flow: column wrap;
}

.inputLogin {
    border-left: white;
    border-right: white;
    border-top: white;
    background-color: white;
    border-bottom: black solid 2px;
}

.inputLogin:active {
    border-bottom: black solid 1px;
}
