#tFilters {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    margin: 50px auto 0px;
    width: 50%;
    margin-top: 15px;
}

#inputLabel {
    display: flex;
    flex-flow: column wrap;
}

.inputTransactions {
    border: solid black 2px;
    margin-bottom: 10px;
}

#btnFilter {
    cursor: pointer;
    border: black solid 2px;
    margin-bottom: 5px;
    background-color: white;
    font-weight: bolder;
    margin-top: 20px;
}

#btnFilter:hover {
    color: white;
    background-color: black;
}

#msgP {
    margin: 50px auto 0px;
    margin-top: 15px;
    width: 50%;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
    margin: 0px auto 0px;
}

table {
    margin: 30px auto 0px;
    width: 80%;
}

thead {
    background-color: black;
    color: white;
}