main {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    margin: 50px auto 0px;
    width: 40%;
    background-color:  white;
    border-radius: 2px;
    padding: 10px;
}

#sactions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 350px;
    margin: 0px auto 0px;
}

#sactions input {
    cursor: pointer;
    border-left: white;
    border-right: white;
    border-top: white;
    border-bottom: black solid 2px;
    background-color: white;
    margin-bottom: 5px;
}